.content-cards {
    overflow-y: auto;
    max-height: 75vh;
}

.draw-card {
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 10px;
    margin: 20px;
    background-color: #DBDBDB;
    width: 358px;
}

.draw-card-button {
    text-align: left;
    border: none;
    background-color: inherit !important;
}

.draw-card-button p {
    padding: 2px 0;
}